#root {
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  border: var(--dark) 15px solid;
  border-radius: 25px;
}

#dark-mode {
  font-size: 2rem;
  position: relative;
  border: var(--dark) 5px solid;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 50%;
  width: 3rem;
}

#dark-mode:hover {
  background-color: var(--dark);
  color: var(--light);
}

#title {
  margin: -75px 20px 10px 35px;
}

@media (min-width: 0px) {  
  #root {
    max-width: 85%;
    border: var(--dark) 10px solid;
    border-radius: 15px;
  }

  #dark-mode {
    font-size: 1.5rem;
    margin-left: -95%;
    margin-top: -10px;
    width: 2.5rem;
  }

  #title {
    margin-top: -50px;
  }
}
@media (min-width: 640px) {
  #root {
    max-width: 600px;
    border: var(--dark) 12.5px solid;
    border-radius: 20px;
  }

  #dark-mode {
    font-size: 1.75rem;
    margin-left: -95%;
    margin-top: -5px;
    width: 2.75rem;
  }
}
@media (min-width: 1080px) {
  #root {
    max-width: 800px;
    border: var(--dark) 15px solid;
    border-radius: 25px;
  }

  #dark-mode {
    font-size: 2rem;
    margin-left: -95%;
  }
}